<%#-- Main content oof the app %>
<%- include('navbar'); %>
<div class="container" id="main" style="display: none">
    <div class="text-center" id="username"></div>
    <% if(weather !== null){ %>
        <table class="mt-5 table table-striped table-bordered" style="margin: 0 auto; width: auto">
            <tbody>
            <tr>
                <td scope="row"><strong>City</strong></td>
                <td><%= weather.city %></td>
            </tr>
            <tr>
                <td scope="row"><strong>Country</strong></td>
                <td><img src="<%= `https://www.countryflags.io/${weather.codeCountry}/shiny/24.png` %>" alt="(flag)">
                    ( <%= weather.country %> )
                </td>
            </tr>
            <tr>
                <td scope="row"><strong>Current temperature</strong></td>
                <td class="badge badge-success"><%= weather.currentTemp %>&#8451;</td>
            </tr>
            <tr>
                <td scope="row"><strong>Min/Max, felt temperature</strong></td>
                <td>
                    <small class="badge badge-secondary"><%= weather.minTemp %>&#8451; </small> / <small class="badge badge-warning"><%= weather.maxTemp %>&#8451;</small>, feels like <%= weather.feltTemp %>&#8451;
                </td>
            </tr>
            <tr>
                <td scope="row"><strong>Humidity</strong></td>
                <td><%= weather.humidity %>%</td>
            </tr>
            <tr>
                <td scope="row"><strong>Conditions</strong></td>
                <td><img src="<%= `${weather.icon}` %>" alt="Icon" style="height: 3em; width: auto">
                    ( <%= weather.conditions %> )
                </td>
            </tr>
            <tr>
                <td scope="row"><strong>Conditions description</strong></td>
                <td><%= weather.condition_descr %></td>
            </tr>
            <tr>
                <td scope="row"><strong>Wind speed</strong></td>
                <td><%= weather.windSpeed %> km/h</td>
            </tr>
            <tr>
                <% if(weather.forecast && weather.forecast.length > 0){ %>
                    <td scope="row"><strong>Forecast for the next 5 days<br>(&#9888; only valid for middays)</strong>
                    </td>
                    <td>
                        <!--<tr>-->
                        <table>
                            <thead></thead>
                            <tbody>
                            <tr>
                                <% for(let i = 0; i < weather.forecast.length; i++) { %>
                                    <td><%= weather.forecast[i].day %></td>
                                <% } %>
                            </tr>
                            <tr>
                                <% for(let i = 0; i < weather.forecast.length; i++) { %>
                                    <td><small class="badge badge-secondary"><%= weather.forecast[i].minTemp %>&#8451;</small> /<small class="badge badge-warning"><%= weather.forecast[i].maxTemp %>&#8451;</small>
                                        &#8451;
                                        %>
                                        <br><img src="<%= `${weather.forecast[i].icon}` %>" alt="Icon"
                                                 style="height: 3em; width: auto"><br>
                                        ( <%= weather.forecast[i].condition %> )
                                    </td>
                                <% } %>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                <% } %>
            </tr>
            </tbody>
        </table>
        <% if (mainCitiesAndTemperatures !== null && mainCitiesAndTemperatures.length > 0) { %>
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-6">
                    <div class="input-group mt-3 mb-3" style="width: auto; margin: 0 auto;">
                        <input type="text" class="form-control text-center"
                               placeholder="Get the current weather of a main city in South America"
                               aria-label="Recipient's username" aria-describedby="basic-addon2" id="inputCity">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button">Go</button>
                        </div>
                    </div>
                    <div id="match-list">

                    </div>
                </div>
                <div class="col col-6"></div>
            </div>
            <table class="mt-4 mb-4 table table-striped table-bordered" style="margin: 0 auto; width: auto">
                <thead>
                <tr>
                    <th scope="col">Temperature range(&#8451;)</th>
                    <th scope="text-center col">Cities</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < mainCitiesAndTemperatures.length; i++) { %>
                    <% if (mainCitiesAndTemperatures[i].cities.length > 0) { %>
                        <tr>
                            <td class="text-center"><%= mainCitiesAndTemperatures[i].interval %></td>
                            <td class="text-center">
                                <% for(var j = 0; j < mainCitiesAndTemperatures[i].cities.length; j++) { %>
                                    <%= mainCitiesAndTemperatures[i].cities[j] %><% if (j !== (mainCitiesAndTemperatures[i].cities.length-1)) { %>,<br><% } %>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
                </tbody>
            </table>
        <% } %>
    <% } else{ %>
        <h1>404: Ouupps something went wrong!!!!</h1>
    <% } %>
</div>


<%- include('footer') %>

